<div>
<hr>
    <ul>
    <li *ngFor="let jeux of monPanier">                  
           <div class="container-image d-inline-block" [ngStyle]="{'background-image': 'url(' + jeux.imageUrl + ')','background-size':'cover'}"></div>
           <div class="d-inline-block m-1">
                <div class="font-italic">{{jeux.titre}}</div>
                <div>prix d'achat : {{jeux.prixAchat}} €</div>
                <div>code barre : {{jeux.codeBarre}}</div>
           </div>
           <div class="d-inline-block">
               <button type="button" class="btn btn-outline-dark" (click)="enleverDuPanier(jeux)">enlever du Panier</button>
           </div>           
    </li>
</ul>
            <div>Total jeux à vendre : {{ totalJeuxAvendre }}</div>
           <div>Total prix d'achat : {{ totalPrixAchat }} €</div>
           <div><a *ngIf='routeMonPanier' routerLink="/formulaire" routerLinkActive="active">Valider ma vente</a></div> 
</div>                