<h1>Validation de votre vente du {{commande.dateCommande}}</h1>
<p><i>Votre numero de vente :</i> {{commande.id}}</p>
<h4>client</h4>
<p><i>Nom :</i> {{ commande.client.nom }} {{ commande.client.prenom }}</p>
<p><i>Email :</i> {{commande.client.email}}</p>
<p><i>Tel :</i> {{commande.client.tel}}</p>
<h4>Adresse</h4>
<p>{{ commande.client.nRue }} {{commande.client.adresse}} {{commande.client.ville}} </p>
<h4>Jeux en ventes</h4>
<ul>
    <li *ngFor="let jeux of commande.panier.jeux">                  
        <div class="container-image d-inline-block" [ngStyle]="{'background-image': 'url(' + jeux.imageUrl + ')','background-size':'cover'}"></div>
        <div class="d-inline-block m-1">
             <div class="font-italic">{{jeux.titre}}</div>
             <div><i>prix d'achat :</i> {{jeux.prixAchat}} €</div>
             <div><i>code barre :</i> {{jeux.codeBarre}}</div>
        </div>                   
    </li>
</ul>
<h4>Total vente</h4>
<p><i>Nombre de jeux vendu :</i> {{ commande.panier.nombreJeux }}</p>
<p><i>Total prix achat :</i> {{ commande.panier.prixAchatTotal }}</p>



