<form [formGroup] = "model" >
    <h3>Recherche du jeu video</h3>
    <div class="">
        <input class="form-control col-5 mb-3" #search formControllerName="search" (keyup)="rafraichirListe(search.value)" placeholder="Saisissez un titre ou un code barre"  value="">
        <br>
        <ul>
            <li *ngFor="let jeux of allGames">                  
                   <div class="container-image d-inline-block" [ngStyle]="{'background-image': 'url(' + jeux.imageUrl + ')','background-size':'cover'}"></div>
                   <div class="d-inline-block m-1">
                        <div class="font-italic">{{jeux.titre}}</div>
                        <div>prix d'achat : {{jeux.prixAchat}} €</div>
                        <div>code barre : {{jeux.codeBarre}}</div>
                   </div>
                   <div class="d-inline-block">
                       <button type="button" class="btn btn-outline-primary" (click)="ajouterAuPanier(jeux)">ajouter au Panier</button>
                   </div>                 
            </li>
        </ul>
        <a routerLink="/panier" routerLinkActive="active">voir mon panier</a>
    </div>    
</form>
