<div class="container">    
        <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link active" routerLink="/home" routerLinkActive="active">Chercher un jeu</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/panier" routerLinkActive="active">Mon panier</a>
                </li>  
                <li class="nav-item">
                        <a class="nav-link" routerLink="/panier" routerLinkActive="active">
                    <span style="color: Mediumslateblue">
                        <i class="fas fa-shopping-cart"></i>
                        {{totalJeuxAvendre}}
                    </span>
                    </a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" routerLink="/panier" routerLinkActive="active">
                    <span style="color: Mediumslateblue">
                        <i class="fas fa-euro-sign"></i>
                        {{totalPrixAchat}}
                    </span>
                    </a>
                </li>                                   
        </ul>    
    <router-outlet></router-outlet>
</div>

