<form [formGroup]="modelform">
        <input class='input-group m-2' type='text' value='' formControlName='nom' placeholder="Nom">
        <p *ngIf="nom.invalid">Ceci ne doit pas être vide</p> 
        <input class='input-group m-2' type='text' value='' formControlName='prenom' placeholder="Prénom">
        <input class='input-group m-2' type='email' value='' formControlName='email' placeholder='Email'>
        <input class='input-group m-2' type='tel' value='' formControlName='tel' placeholder='Tel'>
        <input class='input-group m-2' type='text' value='' formControlName='nRue' placeholder="N° de rue">
        <textarea class='input-group m-2' formControlName='adresse' cols="30" rows="10" placeholder='Votre adresse ici'></textarea>
        <input class='input-group m-2' type="text" value='' formControlName='codePostal' placeholder='code postal'>
        <input class='input-group m-2' type='text' value='' formControlName="ville" placeholder="ville">
        <button *ngIf='!commandeEnvoyeOk' (click)='validationForm()' >Valider ma commande</button>        
</form>
    <hr>
    <h1>Récaputulatif commande</h1>
    <app-panier></app-panier>