/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

li {
    list-style-type: none;
}
.container-image{
    width: 70px;
    height: 70px;
    overflow: hidden;
}
.images-jeux {
    max-width: 100%;
}
